host/WheelHost/bin/
host/WheelHost/obj/
*.user
publish/
installer/Output/
installer/redist/*.exe
tools/mock-server/node_modules/
tools/mock-server/package-lock.json
tools/mock-server/certs/
host/WheelHost/certs/
